# flyctl launch added from vendor/bundle/gems/crass-1.0.6/.gitignore
vendor/bundle/gems/crass-1.0.6/**/.yardoc
vendor/bundle/gems/crass-1.0.6/**/doc
vendor/bundle/gems/crass-1.0.6/**/pkg
vendor/bundle/gems/crass-1.0.6/**/.DS_Store
vendor/bundle/gems/crass-1.0.6/**/Gemfile.lock

# flyctl launch added from vendor/bundle/gems/diffy-3.4.2/.gitignore
vendor/bundle/gems/diffy-3.4.2/**/*.gem
vendor/bundle/gems/diffy-3.4.2/**/*.swp
vendor/bundle/gems/diffy-3.4.2/**/Gemfile.lock
vendor/bundle/gems/diffy-3.4.2/**/tags
vendor/bundle/gems/diffy-3.4.2/**/.bundle

# flyctl launch added from vendor/bundle/gems/front_matter_parser-1.0.1/.gitignore
vendor/bundle/gems/front_matter_parser-1.0.1/**/*.gem
vendor/bundle/gems/front_matter_parser-1.0.1/**/*.rbc
vendor/bundle/gems/front_matter_parser-1.0.1/**/.bundle
vendor/bundle/gems/front_matter_parser-1.0.1/**/.config
vendor/bundle/gems/front_matter_parser-1.0.1/**/.yardoc
vendor/bundle/gems/front_matter_parser-1.0.1/**/Gemfile.lock
vendor/bundle/gems/front_matter_parser-1.0.1/**/InstalledFiles
vendor/bundle/gems/front_matter_parser-1.0.1/**/_yardoc
vendor/bundle/gems/front_matter_parser-1.0.1/**/coverage
vendor/bundle/gems/front_matter_parser-1.0.1/**/doc
vendor/bundle/gems/front_matter_parser-1.0.1/**/lib/bundler/man
vendor/bundle/gems/front_matter_parser-1.0.1/**/pkg
vendor/bundle/gems/front_matter_parser-1.0.1/**/rdoc
vendor/bundle/gems/front_matter_parser-1.0.1/**/spec/reports
vendor/bundle/gems/front_matter_parser-1.0.1/**/test/tmp
vendor/bundle/gems/front_matter_parser-1.0.1/**/test/version_tmp
vendor/bundle/gems/front_matter_parser-1.0.1/**/tmp
vendor/bundle/gems/front_matter_parser-1.0.1/**/.overcommit_gems.rb.lock

# flyctl launch added from vendor/bundle/gems/mini_mime-1.1.2/.gitignore
vendor/bundle/gems/mini_mime-1.1.2/.bundle
vendor/bundle/gems/mini_mime-1.1.2/.yardoc
vendor/bundle/gems/mini_mime-1.1.2/Gemfile.lock
vendor/bundle/gems/mini_mime-1.1.2/_yardoc
vendor/bundle/gems/mini_mime-1.1.2/coverage
vendor/bundle/gems/mini_mime-1.1.2/doc
vendor/bundle/gems/mini_mime-1.1.2/pkg
vendor/bundle/gems/mini_mime-1.1.2/spec/reports
vendor/bundle/gems/mini_mime-1.1.2/tmp

# flyctl launch added from vendor/bundle/gems/net-imap-0.3.4/.gitignore
vendor/bundle/gems/net-imap-0.3.4/.bundle
vendor/bundle/gems/net-imap-0.3.4/.yardoc
vendor/bundle/gems/net-imap-0.3.4/_yardoc
vendor/bundle/gems/net-imap-0.3.4/coverage
vendor/bundle/gems/net-imap-0.3.4/doc
vendor/bundle/gems/net-imap-0.3.4/pkg
vendor/bundle/gems/net-imap-0.3.4/rfcs
vendor/bundle/gems/net-imap-0.3.4/spec/reports
vendor/bundle/gems/net-imap-0.3.4/tmp
vendor/bundle/gems/net-imap-0.3.4/Gemfile.lock

# flyctl launch added from vendor/bundle/gems/net-pop-0.1.2/.gitignore
vendor/bundle/gems/net-pop-0.1.2/.bundle
vendor/bundle/gems/net-pop-0.1.2/.yardoc
vendor/bundle/gems/net-pop-0.1.2/_yardoc
vendor/bundle/gems/net-pop-0.1.2/coverage
vendor/bundle/gems/net-pop-0.1.2/doc
vendor/bundle/gems/net-pop-0.1.2/pkg
vendor/bundle/gems/net-pop-0.1.2/spec/reports
vendor/bundle/gems/net-pop-0.1.2/tmp
vendor/bundle/gems/net-pop-0.1.2/**/Gemfile.lock

# flyctl launch added from vendor/bundle/gems/net-protocol-0.2.1/.gitignore
vendor/bundle/gems/net-protocol-0.2.1/.bundle
vendor/bundle/gems/net-protocol-0.2.1/.yardoc
vendor/bundle/gems/net-protocol-0.2.1/_yardoc
vendor/bundle/gems/net-protocol-0.2.1/coverage
vendor/bundle/gems/net-protocol-0.2.1/doc
vendor/bundle/gems/net-protocol-0.2.1/pkg
vendor/bundle/gems/net-protocol-0.2.1/spec/reports
vendor/bundle/gems/net-protocol-0.2.1/tmp

# flyctl launch added from vendor/bundle/gems/nio4r-2.5.9/.gitignore
vendor/bundle/gems/nio4r-2.5.9/**/*.gem
vendor/bundle/gems/nio4r-2.5.9/**/*.rbc
vendor/bundle/gems/nio4r-2.5.9/**/.bundle
vendor/bundle/gems/nio4r-2.5.9/**/.config
vendor/bundle/gems/nio4r-2.5.9/**/.yardoc
vendor/bundle/gems/nio4r-2.5.9/**/Gemfile.lock
vendor/bundle/gems/nio4r-2.5.9/**/InstalledFiles
vendor/bundle/gems/nio4r-2.5.9/**/_yardoc
vendor/bundle/gems/nio4r-2.5.9/**/coverage
vendor/bundle/gems/nio4r-2.5.9/**/doc
vendor/bundle/gems/nio4r-2.5.9/**/lib/bundler/man
vendor/bundle/gems/nio4r-2.5.9/**/pkg
vendor/bundle/gems/nio4r-2.5.9/**/rdoc
vendor/bundle/gems/nio4r-2.5.9/**/spec/reports
vendor/bundle/gems/nio4r-2.5.9/**/test/tmp
vendor/bundle/gems/nio4r-2.5.9/**/test/version_tmp
vendor/bundle/gems/nio4r-2.5.9/**/tmp
vendor/bundle/gems/nio4r-2.5.9/**/lib/nio4r_ext.*
vendor/bundle/gems/nio4r-2.5.9/**/ext/**/*.o
vendor/bundle/gems/nio4r-2.5.9/**/ext/**/nio4r_ext.*
vendor/bundle/gems/nio4r-2.5.9/**/.rspec_status

# flyctl launch added from vendor/bundle/gems/pg-1.5.3/.gitignore
vendor/bundle/gems/pg-1.5.3/**/*.lock
vendor/bundle/gems/pg-1.5.3/**/*.orig
vendor/bundle/gems/pg-1.5.3/**/*_BACKUP_*
vendor/bundle/gems/pg-1.5.3/**/*_BASE_*
vendor/bundle/gems/pg-1.5.3/**/*_LOCAL_*
vendor/bundle/gems/pg-1.5.3/**/*_REMOTE_*
vendor/bundle/gems/pg-1.5.3/.test_symlink
vendor/bundle/gems/pg-1.5.3/build
vendor/bundle/gems/pg-1.5.3/ext/Makefile
vendor/bundle/gems/pg-1.5.3/ext/mkmf.log
vendor/bundle/gems/pg-1.5.3/ext/postgresql_lib_path.rb
vendor/bundle/gems/pg-1.5.3/doc
vendor/bundle/gems/pg-1.5.3/lib/*.bundle
vendor/bundle/gems/pg-1.5.3/lib/*.so
vendor/bundle/gems/pg-1.5.3/lib/2.?
vendor/bundle/gems/pg-1.5.3/lib/3.?
vendor/bundle/gems/pg-1.5.3/pkg
vendor/bundle/gems/pg-1.5.3/tmp
vendor/bundle/gems/pg-1.5.3/tmp_test_*
vendor/bundle/gems/pg-1.5.3/vendor
vendor/bundle/gems/pg-1.5.3/lib/libpq.dll
vendor/bundle/gems/pg-1.5.3/lib/pg/postgresql_lib_path.rb
fly.toml
